= select_tag :experiment_id, options_for_select(@exs.map{ |ex| [ex.created_at.localtime, ex.id] }), { prompt: "Select Experiment" }
#strap_acc_chart
#strap_acc_stats
#phone_acc_chart
#phone_acc_stats
#phone_gyr_chart
#phone_gyr_stats
